.homes-guests-love__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.homes-guests-love__container h2 {
    font-weight: normal;
    margin: 0;
}

.homes-guests-love__container a {
    color: #40E0D0;
    cursor: pointer;
}

.homes-guests-love__container a img {
    margin: 0 0 -3px 5px;
}
